{% extends 'base.html' %}

{% block content %}

<h1>Hello! Nice to meet you &#128075</h1>
<br>
<h3>If you would like to chat...</h3>
    <ul>
        <li><p>Send a connection request on <a href="https://www.linkedin.com/in/hannah-johnson-profile" target="_blank">LinkedIn</a> (be sure to include a note with your request!)</p></li>
        <li><p>Let's follow each other on <a href="https://www.github.com/hanndull" target="_blank">GitHub</a></p></li>
    </ul>

{% endblock %}

{% block extracolumn %}
<div class="col-md-4 col-xs-11 extracolumn">
    <div class="row justify-content-center">
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="hannah-johnson-profile"><a class="LI-simple-link" href='https://www.linkedin.com/in/hannah-johnson-profile?trk=profile-badge'></a></div>
    </div>
</div>
{% endblock %}

