{% extends 'base.html' %}

{% block content %}
<h1>Hannah Johnson &#10024</h1>
<h3>Full Stack Software Engineer</h3>
<br>
<p>
    Raised in the foothills adjacent Yosemite National Park, Hannah Johnson has a penchant for the great outdoors. Her interest in learning about patterns in nature and human behavior is part of what she believes ultimately lead to her fascination with programming. With a love of logic and creativity, this recent bootcamp grad is excited to continue to level-up her skills as a technologist while making an impact. 
</p>

{% endblock %}

{% block extracolumn %}
<br>
<div class="col-md-2 col-sm-12 extracolumn">
   
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>
    <hr>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>
    <hr>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

</div>
{% endblock %}

