{% extends 'base.html' %}

{% block content %}
<h1>Hannah Johnson</h1>
<h3>Full Stack Software Engineer</h3>
<br>

{% endblock %}

{% block extracolumn %}
<div class="col-md-3 col-sm-12 extracolumn">
        
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>
    <hr>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>
    <hr>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

</div>
{% endblock %}

