.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.wht-highlight {
    background-color: rgba(255, 255, 255, 0.5);
}

*, h1, h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
}

p, input, label {
    font-family: 'Lato', sans-serif;
    font-size: medium;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    margin-right: 20px;
}

.icon {
    font-size: 20pt;
}

.post, .project {
    margin-bottom: 40px;
}

a, a:link, a:active, a:visited {
    color: #0E4D64;
}

a:hover {
    color: #188977;
}

.extracolumn div {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* Centered text */
.topleft {
  position: absolute;
  top: 5%;
  left: 10%;
}

.card {
    width: 20rem;
}

.btn:link, .btn:link, .btn:active, .btn:visited{
    background-color: #0e4d64;
    border-color: #0e4d64;
    color: #ffffff;
}

.btn:hover {
    border-color: #0e4d64;
    background-color: #c3d3d8;
    color: #000000;

}